appdirs==1.4.4
asttokens==2.1.0
attrs==23.2.0
auth0-python==3.24.1
autograd==1.6.2
autoray==0.6.9
backcall==0.2.0
backoff==2.2.1
cachetools==5.3.3
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.6
contourpy==1.0.6
cryptography==38.0.3
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
dill==0.3.6
entrypoints==0.4
exceptiongroup==1.2.0
executing==1.2.0
fonttools==4.38.0
future==1.0.0
ibm-cloud-sdk-core==3.20.1
ibm-platform-services==0.53.7
idna==3.4
iniconfig==2.0.0
ipykernel==6.17.0
ipython==8.6.0
ipywidgets==8.0.6
jedi==0.18.1
joblib==1.4.0
jsonschema==4.17.3
jupyter_client==7.4.4
jupyter_core==4.11.2
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
mpmath==1.2.1
nest-asyncio==1.5.6
networkx==3.2.1
ntlm-auth==1.5.0
numpy==1.23.3
packaging==21.3
pandas==1.5.1
parso==0.8.3
pasqal-cloud==0.3.5
pbr==5.11.0
PennyLane==0.35.1
PennyLane_Lightning==0.35.1
pickleshare==0.7.5
Pillow==9.3.0
pluggy==1.4.0
ply==3.11
prompt-toolkit==3.0.31
psutil==5.9.3
pulser==0.14.1
pulser-core==0.14.1
pulser-pasqal==0.14.1
pulser-simulation==0.14.1
pure-eval==0.2.2
pycparser==2.21
pydantic==1.10.13
Pygments==2.13.0
PyJWT==2.8.0
pylatexenc==2.10
pyparsing==3.0.9
pyrsistent==0.20.0
pytest==8.1.1
python-dateutil==2.8.2
pytz==2022.6
pywin32==304
pyzmq==24.0.1
qiskit==1.1.0
qiskit-aer==0.17.1
qiskit-ibm-runtime==0.24.0
qiskit-ibmq-provider==0.19.2
qutip==4.7.3
requests==2.32.2
requests-ntlm==1.1.0
retworkx==0.12.0
rustworkx==0.14.2
scikit-learn==1.4.1.post1
scipy==1.9.3
seaborn==0.12.2
semantic-version==2.10.0
six==1.16.0
stack-data==0.6.0
stevedore==4.1.1
symengine==0.11.0
sympy==1.11.1
threadpoolctl==3.4.0
toml==0.10.2
tomli==2.0.1
tornado==6.2
traitlets==5.5.0
tweedledum==1.1.1
typing_extensions==4.9.0
urllib3==2.2.2
wcwidth==0.2.5
websocket-client==1.8.0
websockets==10.4
widgetsnbextension==4.0.7
